<div class="container">
    <h2>Billing Report</h2>
    <form (ngSubmit)="generateReport()">
        <div class="form-group">
            <label for="month">Select Month:</label>
        </div>
        <button type="submit" class="btn btn-primary">Generate Report</button>
    </form>
    <h3>Billing Information:</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Bill Id</th>
                <th>Bill Amount</th>
                <th>Ride Date</th>
                <th>Source</th>
                <th>Destination</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let bill of billings">
                <td>{{ bill.billId }}</td>
                <td>{{ bill.bill }}</td>
                <td>{{ bill.billDate }}</td>
                <td>{{ bill.source }}</td>
                <td>{{ bill.destination }}</td>
            </tr>
        </tbody>
    </table>

    <button (click)="generateReport()">press</button>
</div>
