<div class="container">
    <h2 class="text-center">Generate Smiles</h2>
    <form [formGroup]="generateSmilesForm" (ngSubmit)="onSubmit()"
        class="text-center">
        <div class="form-group">
            <label for="month">Month:</label>
            <select id="month" formControlName="month" required
                class="form-control">
                <option value disabled selected>Select a month</option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <div class="invalid-feedback"
                *ngIf="generateSmilesForm.get('month')?.invalid && (generateSmilesForm.get('month')?.dirty || generateSmilesForm.get('month')?.touched)">
                <div
                    *ngIf="generateSmilesForm.get('month')?.errors?.['required']">Month
                    is required.</div>
            </div>
        </div>
        <button type="submit" [disabled]="generateSmilesForm.invalid"
            class="btn btn-primary">Generate Smiles</button>
    </form>

    <div *ngIf="status" class="mt-4 text-center">
        <h3>Smiles Report</h3>
        <table class="table mx-auto">
            <thead>
                <tr>
                    <th>Ride Provider</th>
                    <th>Source</th>
                    <th>Destination</th>
                    <th>Smiles</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let smile of smilesReport">
                    <td>{{ smile.createrUserId }}</td>
                    <td>{{ smile.fromLoc }}</td>
                    <td>{{ smile.toLoc }}</td>
                    <td>{{ smile.seatsFilled }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
